body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    max-width: 1440px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
img {
    display: block;
    max-width: 100%; 
    height: auto; 
}

.container {
    max-width: 1200px; 
    margin: 0 auto;    
    padding: 0 15px;   
}



.site-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    gap: 40px;
    margin-left: 156px;
    width: 1158px;
}


.main-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-span {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}


.nav-item {
    padding: 24px 0;
}

.nav-item .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item .link::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    display: none;
}

.nav-item .link:hover::after,
.nav-item .link:focus::after {
    display: block;
}


.contact-list {
    display: flex;
}

.contact-list-ul {
    display: flex;
    gap: 40px;
}

.contact-list-ul li a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-ul li a::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    display: none;
}

.contact-list-ul li a:hover::after,
.contact-list-ul li a:focus::after {
    display: block;
}


h1 {
    max-width: 496px;
}

.first-section {
    max-width: 1440px;
    
    padding: 188px 0;
    
    position: relative;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/people-office1.jpg");
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
    align-items: center;
    
    text-align: center;
    
}


.first-section__title {
    max-width: 496px;
    
    font-size: 56px;
    line-height: 60px;
    color: #ffffff;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    
}


button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.first-section__btn:hover,
.first-section__btn:focus {
    background-color: #404bbf;
    
}

.second-section {
    padding: 120px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Icons Container */
.icons-container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 112px; 
    background-color: #f4f4fd; 
    border-radius: 4px; 
    border: 1px solid #8e8f99; 
    margin-bottom: 8px; 
}


.second-section__list {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.second-section__item {
    width: calc((100% - 3 * 24px) / 4);
    flex-basis: calc((100% - 3 * 24px) / 4);
    box-sizing: border-box;
}

.second-section__list-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.second-section .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}




.third-section {
    padding: 120px 0;
    background-color: #f4f4fd;
    text-align: center;
}
.third-section__title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.third-section__list {
    display: flex;
    gap: 24px;
    list-style: none;
}

.list-item {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 0 0 32px 0;
    border-radius: 0px 0px 4px 4px;
}

.image-container {
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
}

.team-image {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.member-name {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
}

.social-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
    
}

.social-media-item {
    width: 40px;
    height: 40px;
}

.social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
    background-color: #404bbf;
}

.social-media-icon {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}





   

.forth-section {
    padding: 120px 0;
    background-color: #ffffff;
    text-align: center;
}

.forth-section__title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.forth-section__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}

.list-item {
    flex-basis: calc((100% - 2 * 24px)/3); 
    max-width: 360px;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:hover .image-description {
    transform: translateY(0%);
}

.image-container {
    position: relative;
    overflow: hidden;
}

.list-item__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.image-description {
    position: absolute;
    top: 0;
    transform: translateY(100%);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item__content {
    padding: 32px 16px;
    margin-bottom: 8px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}

.list-item__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.footer .container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 80%;
    margin: 0 auto;
}


.branding-inner {
    margin-right: 120px;
}
.branding {
    margin-right: 120px;
}

.footer-logo_link {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo_link .logo-span {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
}


.social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-media-list {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media-item {
    width: 40px;
    height: 40px;
}

.social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
    background-color: #31d0aa;
}

.social-media-icon {
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
}

  